@font-face {
  font-family: 'NBGC';
  src: url('/fonts/ZQKNBCGPST.woff') format('woff');

}

h1{
    color:antiquewhite;
    font-family: 'NBGC' ,sans-serif ;
    font-size: 400%;
    line-height: 120%;
    position: relative;
    text-align: center;
}
