@font-face {
  font-family: 'NBGC';
  src: url('/fonts/ZQKNBCGPST.woff') format('woff');

}
body{
    background-color:rgb(44,63,106)
}
h1{
    color:antiquewhite;
    font-size: 400%;
    line-height: 120%;
    position: relative;
    text-align: center;
}


