@font-face {
  font-family: 'NBGC';
  src: url('/fonts/ZQKNBCGPST.woff') format('woff');

}

body{
    margin: 10px 10% ;
    background-color: antiquewhite ;
}

h1{
    font-family: NBGC;
    text-align: center;
}

p{
    font-family: NBGC;
    font-size: 120%;
    text-align: center;
}