
body{
    margin: 10px 10% ;
    background-color: antiquewhite ;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    font-size: 120%;
    text-align: center;

}

